<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <p>This site has been visited <%= global_counter %> times.</p>
    <p>You have visited this site <%= counter %> times.</p>

    <a href="http://localhost:3000/first">prva</a><br>
    <a href="http://localhost:3000/second">druga</a>
    <br>
    <br>    
    <!--
    <a href="<%= url('http://localhost:3000/first')%>">prva</a><br>
    <a href="<%= url('http://localhost:3000/second')%>">druga</a>
    <form action="/" method="GET">
        <input type="hidden" name="sID" value="<%= sessionId %>">
        <input type="submit" value="Submit">
    </form>
    -->
   
</body>
</html>